# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Databases
*.db
*.sqlite3

# Environment
.env

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Local Application Data Folders
Entrada/
Salida/
Revision/

# Scanned PDFs and generated Word labels
*.pdf
*.docx
